SENTRY_DSN=http://dsn
SECRET_KEY_BASE=secret

DEVINO_API_URL=api_url
DEVINO_LOGIN=login
DEVINO_PASSWORD=password

TWILIO_SID=sid
TWILIO_AUTH_TOKEN=token
TWILIO_SENDER=sender

GOODS_CERT_PATH=cert_path
GOODS_CERTIFICATE=certificate
GOODS_SERVER_ADDRESS=server_address

SBERBANK_BASE_URL=base_url
SBERBANK_USER_NAME=user_name
SBERBANK_PASSWORD=password

RAPPORTO_LOGIN=login
RAPPORTO_PASSWORD=passw0rd
RAPPORTO_SENDER=dixy

APP_HOST=host

MIN_AGE=18 # years
MAX_AGE=100 # years
